name: Close issue on adding invalid label

on:
  issues:
    types: [labeled]

jobs:
  close-on-label:
    if: ${{ github.event.label.name == 'invalid' }}
    runs-on: ubuntu-latest
    
    steps:
      - uses: actions/github-script@2b34a689ec86a68d8ab9478298f91d5401337b7d
        with:
          github-token: ${{ secrets.PERSONAL_ACCESS_TOKEN }}
          script: |
              
              const issue = context.payload.issue
              
              // Close the issue and add the invalid label
              await github.issues.update({
                owner: 'ramyaparimi',
                repo: 'test-repo',
                issue_number: issue.number,
                labels: ['invalid'],
                state: 'closed'
              });
              
              // Comment on the issue
              await github.issues.createComment({
                owner: owner,
                repo: repo,
                issue_number: issue.number,
                body: `This issue may have been opened accidentally. I'm going to close it now, but feel free to open a new issue with a more descriptive title or ask any questions in [discussions](https://github.com/github/docs/discussions)!`
              });
        
           
  
