name: Close issue on adding invalid label

on:
  issues:
    types: [labeled]

jobs:
  close-on-adding-invalid-label:
#     if: github.repository == 'github/docs'
    runs-on: ubuntu-latest
    
#     steps:
#       - name: Close issue
#         env:
#           GITHUB_TOKEN: ${{ secrets.PERSONAL_ACCESS_TOKEN }}
#         run: gh close issue ${{ github.event.number }}
    
    steps:
      - uses: actions/github-script@2b34a689ec86a68d8ab9478298f91d5401337b7d
        with:
          github-token: ${{ secrets.GITHUB_TOKEN }}
          script: |
              
              const issue = context.payload.issue
              const owner = 'github'
              const repo = 'docs'
              
              // Close the issue and add the invalid label
              await github.issues.update({
                owner: 'ramyaparimi',
                repo: 'test-repo',
                issue_number: issue.number,
                labels: ['invalid'],
                state: 'closed'
              });
              

              
           
  
