name: Needs sme stale check 

# **What it does**: Provides stale checks on issues/PRs that need SME review on open source docs repo.
# **Why we have it**: In the open repo, we want we want frequent checks on issues/PRs that are waiting on SME review.
# **Who does it impact**: Anyone working in the open repo.

on:
  schedule:
    - cron: '5 * * * *' # Run each day at 16:45 UTC == 45 16 * * */ 8:45 PST

permissions:
  issues: write
  pull-requests: write

jobs:
  stale_needs-sme:
    if: ${{ github.repository == 'github/docs' && github.event.label.name == 'needs SME' }}
    runs-on: ubuntu-latest

    steps:
      - uses: actions/stale@3cc123766321e9f15a6676375c154ccffb12a358
        with:
          repo-token: ${{ secrets.GITHUB_TOKEN }}
          stale-issue-message: 'This is a gentle bump for the docs team that this PR is waiting for technical review.'
          days-before-issue-close: -1 
          stale-pr-message: 'This is a gentle bump for the docs team that this PR is waiting for technical review.'
          days-before-pr-close: -1
          stale-pr-label: 'stale'
          stale-issue-label: 'stale'
