name: Needs sme stale check 

# **What it does**: Provides stale checks on issues/PRs that need SME review on open source docs repo.
# **Why we have it**: In the open repo, we want we want frequent checks on issues/PRs that are waiting on SME review.
# **Who does it impact**: Anyone working in the open repo.

on: workflow_dispatch

permissions:
  issues: write
  pull-requests: write

jobs:
  stale_needs-sme:
    if: ${{ github.repository == 'ramyaparimi/test-repo' }}
    runs-on: ubuntu-latest

    steps:
      - uses: actions/stale@7fb802b3079a276cf3c7e6ba9aa003c665b3f838
        with:
          repo-token: ${{ secrets.GITHUB_TOKEN }}
          only-labels: needs SME
          remove-stale-when-updated: true
          ignore-updates: true
          stale-issue-label: SME stale
          stale-pr-label: SME stale
          days-before-stale: 1
          stale-issue-message: 'This is a gentle bump for the docs team that this PR is waiting for technical review.'
          days-before-issue-close: -1 # never close
          stale-pr-message: 'This is a gentle bump for the docs team that this PR is waiting for technical review.'
          days-before-pr-close: -1 # never close
